* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent {
    width: 450px;
    height: 650px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    width: 380px;
    height: 80px;
    background-color: gray;
    margin-top: 40px;
    border-radius: 30px;
}

.buttons {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px;
    align-items: center;
    justify-content: center;

}

.buttons button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-family: sans-serif;
    font-size: x-large;
    font-weight: 706;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;

}

.operator {
    background-color: orange;
}

#clear {
    background-color: gray;
}

.operation {
    width: 100%;
    height: 30px;
    padding: 15px 30px;
    font-size: 25px
}

.answer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 40px;
    font-size: xx-large;
    font-weight: 700;

}
.menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px;
}

.menu select {
  background-color: gray;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 16px;
  outline: none;
}
